<div>
    <table class="table table-bordered table-condensed">
        <tbody>
        <tr ng-show="model.item.updateTime">
            <th>Update Time</th>
            <td>{{model.item.updateTime}}</td>
        </tr>
        <tr ng-show="model.item.url">
            <th>Url</th>
            <td>{{model.item.url}}</td>
        </tr>
        <tr ng-show="model.item.section">
            <th>Section</th>
            <td>{{model.item.section}}</td>
        </tr>
        <tr ng-show="model.item.tree">
            <th>Tree</th>
            <td>{{model.item.tree}}</td>
        </tr>
        <tr ng-show="model.item.method">
            <th>Method</th>
            <td>{{model.item.method}}</td>
        </tr>
        <tr ng-show="model.item.id">
            <th>Id</th>
            <td>{{model.item.id}}</td>
        </tr>
        </tbody>
    </table>
</div>